* {
    font-family: "Poppins", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
  }
  
  /* Header Styles */
  
  .logo {
    width: 8rem;
  }


  .session-card{
    padding: 6rem 3rem;
    text-align: center;
  }

  #session-time {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  .player  *{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .vid {
    text-align: left;
  }
  