{% extends '_base.html' %}
{% load static %}
{% block title %}
  Session Details
{% endblock title %}
{% block content %}
  
  <div class="grid">
    <h2>Session Details</h2>
    <button class="secondary"><a href="#">Delete Session</a></button>
  </div>
  <p>{{ session.time }}</p>
  <p>Break between workouts: {{ session.workouts_break }} seconds</p>
  {% if session.workouts.all %}
  {% for workout in session.workouts.all %}
  <details>
    <summary>{{ workout.exercise.name }}</summary>
    <article>{{ workout.exercise.desc }}</article>
    <article>
      <p>
        Sets: {{ workout.sets }}
      </p>
      <p>
        Reps for each set: {{ workout.reps_per_set }}
      </p>
      <p>
        Rest between sets: {{ workout.break_time }}
      </p>
    </article>
    <div class="grid">
      <a href="{% url 'plans:workout_update' workout.id %}" role="button">Edit Workout</a>
      <a href="{% url 'plans:workout_delete' workout.id %}" class="secondary" role="button" >Delete Workout</a>
    </div>
    </details>  
  {% endfor %}
  {% else %}
  <p>You haven't added any workouts yet</p>
  {% endif %}
  <div class="grid">
    <a href="{% url 'plans:workout_create' session.id %}" role="button">Add Workout</a>
    <a href="{% url 'plans:delete' session.id %}" class="secondary" role="button">Delete Session</a>
  </div>
{% endblock content %}